.top {
    height: 230px;
    width: 100%;
    background-color: #DFDFDF;
    display: flex;
    justify-content: center;

}

.circle {
    height: 180px;
    width: 180px;
    background-color: #E9E9E9;
    border-radius: 100px;
    margin-top: 135px;
}

.signp{
    justify-content: center;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    padding: 20px;
}