body.active-modal {
    overflow: hidden;
}

@keyframes modal-active {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-inactive {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

div.addbg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    animation-duration: 500ms;
    animation-iteration-count: 1;
}
div.additemcontainer{
    margin-top: -50px;
    width: 400px;
    height: 175px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.top-bars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E7E7E7;
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.lineee{
    border: none;
    width: 330px;
    border-top: 2px solid #000000;
    margin-top: 10px;
}